@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
:root {
  --background-light: #ffffff;
  --background-dark: rgb(4,11,25);
  --text-light: #000000;
  --text-dark: #ffffff;
  --dropdown-background-light: purple;
  --dropdown-background-dark: black; 
}

/* Light Theme */
[data-theme='light'] {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
}

/* Dark Theme */
[data-theme='dark'] {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
}

/* Apply colors to elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dropdown li:hover {
  background: rgb(198,199,202, 0.2);
}

/* styles.css */
.active-theme {
  color: color; /* Change this to your desired text color */
  background: rgb(198,199,202, 0.2)
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    display: flex;
    align-items: center;
    justify-content: center;
} */
